<!DOCTYPE html>
<html ng-app="imdbApp">
<head>
	<title>Internet Movie Database</title>
	<meta charset="utf-8">
	<!-- Load Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Load font awesom -->
    <link rel="stylesheet" href="css/font-awesome.min.css">    	
    <!-- Load custom styles -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="mainController">
	<div class="container">

		<div class="row">
		
		<input type="hidden" ng-model="showback" ng-init="showback">		

		<div class="col-md-2" ng-show="showback" >
			<div class="backBtn"><a href="#" ng-click="reset()" >Back</a></div>
		</div>
		<div class="{{classTitle}}">
			<span class="title">Shows</span>
		</div>
		<div class="col-md-4 offset-md-4" style="text-align: right;">
				<i class="fa fa-cog fa-4x" aria-hidden="true" style="padding-right: 15px;"></i>
				<i class="fa fa-search fa-4x" aria-hidden="true" ng-click="search = !search"></i>
			</div>
		</div>
		
		<!-- input search -->

		<div class="row">
			<div class="col-md-12">
				<input type="text"  no-special-char ng-model="txtSearch" my-enter="getMovies()" class="form-control txtSearch" ng-show="search">
			</div>			
		</div>	

		<div ng-model="message">
			<strong>{{message}}</strong>
		</div>

		<div ng-view>
			
		</div>


	</div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery.min.js"></script>       
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/ng-infinite-scroll.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/config/routes.js"></script>
	<script src="app/factories/getDataFactory.js"></script>	
	<script src="app/controllers/mainController.js"></script>	
	<script src="app/controllers/detailController.js"></script>		
	<script src="app/directives/myEnter.js"></script>		
	
</body>
</html>