<!DOCTYPE html>
<html ng-app="imdbApp">
<head>
	<title>Internet Movie Database</title>
	<meta charset="utf-8">
	<!-- Load Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Load font awesom -->
    <link rel="stylesheet" href="css/font-awesome.min.css">    	
    <!-- Load custom styles -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="ctrlMain">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>Shows</h1>
			</div>
			<div class="col-md-4 offset-md-4" style="text-align: right;">
				<i class="fa fa-cog fa-4x" aria-hidden="true" style="padding-right: 15px;"></i>
				<i class="fa fa-search fa-4x" aria-hidden="true" ng-click="search = !search"></i>
			</div>
		</div>
		
		<!-- input search -->

		<div class="row">
			<div class="col-md-12">
				<input type="text" ng-model="txtSearch" ng-change="getMovies(this)" class="form-control txtSearch" ng-show="search">
			</div>			
		</div>	

		<div class="row">
			<div class="col-md-4" ng-repeat="movie in movies">
				<figure>
					<a href="">
						<div ng-if="movie.Poster != 'N/A'" >
							<img ng-src="{{movie.Poster}}" class="img-thumbnail" alt="{{movie.Title}}" >
						</div>
						<div ng-if="movie.Poster === 'N/A'" >
							<img ng-src="http://epaper2.mid-day.com/images/no_image_thumb.gif" class="img-thumbnail" alt="{{movie.Title}}" >
						</div>						
					</a>
					<figcaption>{{movie.Title}}</figcaption>
				</figure>
			</div>
		</div>
	</div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery.min.js"></script>       
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app.js"></script>


</body>
</html>