		<div class="row">
			<div class="col-md-4" ng-repeat="movie in movies | orderBy:'movie.name':true">
				<figure>					
					<div class="hovereffect"> 
						<div ng-if="movie.poster_path != null" >
						<a href="#detail/{{movie.id}}">
							<img ng-mouseover="preview(movie.id)"  ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="img-thumbnail hovereffect" alt="{{movie.name}}">
						</a>	
						</div>
						<div ng-if="movie.poster_path === null">
						<a href="#detail/{{movie.id}}">
							<img ng-mouseover="preview(movie.id)" ng-src="http://placehold.it/400x600&text=No Image" class="img-thumbnail hovereffect" alt="{{movie.name}}" >
						</a>	
						</div>

				        <div class="overlay">				           
				           	<h2>Rating</h2>
				           	{{rating}}
				           	<h2>Actors</h2>				         		           
				           	{{actors}}
				        </div>													
					</div>	
					<figcaption>{{movie.name}}</figcaption>
				</figure>

			
			</div>
		</div>